.gothic-a1-regular {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  min-width: 320px;
  font-family: 'Gothic A1', 'sans-serif';
}
